/*   BODY LAYOUT   */

body {
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-gap: 0fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}


.header {
    grid-area: h;
}

.content {
    grid-area: c;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 0fr;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
        "i-l i-l i-h i-h i-h i-h i-h i-h i-h i-h"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-r i-r i-r"
        "i-l i-l i-c i-c i-c i-c i-c i-s i-s i-s"
        "i-l i-l i-c i-c i-c i-c i-c i-s i-s i-s"
        "i-l i-l i-f i-f i-f i-f i-f i-f i-f i-f"
        "i-l i-l i-f i-f i-f i-f i-f i-f i-f i-f";
    }

.footer {
    grid-area: f;
}
/*.content .layout > .article {grid-area: a;}*/

/*.sidebar {
    grid-area: s;
}*/

.inner-left {
    grid-area: i-l;
}

.inner-header {
    grid-area: i-h;
}

.inner-content {
    grid-area: i-c;
}

.inner-footer {
    grid-area: i-f;
}

.inner-right {
    grid-area: i-r;
}

.inner-sidebar {
    grid-area: i-s;
}