/*<--Background Colors-->*/

.background.blue {
  background-color: blue;
}

.background.yellow {
  background-color: yellow;
}

.background.green {
  background-color: green;
}

.background.red {
  background-color: red;
}

.background.pink {
  background-color: pink;
}

.background.gray {background-color: gray;}

/*   TEXT SIZES   */

body {
  font-size: 16px;
}

.big-font{font-size: 3em;}

/*   TEXT ALIGNMENT  */

.text-align-center{text-align: center;}

.content {
  font-size: 12px;
}